:root {
  --br: 0.5rem;
  --primary-color: #fefefe;
  --surface-one: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #111111;
    --surface-one: #1e1e1e;
    --border: #fefefe;
  }

  body {
    background: var(--primary-color);
  }

  #display {
    background: var(--surface-one);
    border: none;
    color: var(--border);
  }

  .container button {
    color: var(--border);
    background: var(--surface-one);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--primary-color);
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

#display {
  border-radius: var(--br);
  background: var(--surface-one);
  border: none;
  height: 100px;
  width: 300px;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: right;
  padding: 1rem 2rem;
}

.container {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.2rem;
}

#zero {
  grid-column: span 2;
}

#equall {
  grid-row: 4/6;
  grid-column: 4/4;
}

.container button {
  border: none;
  border-radius: var(--br);
  font-weight: bold;
  font-size: 1rem;
}
